/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}

ul{
    list-style: none;
}
body{
    font-family: "Montserrat", sans-serif;
}

header {
    color: white;
    width: 100%;
    height: 90px;
    background-color: #060910;
    
   
    
}
main{
    position: fixed;
    right: 0;
    top: 90px;
    width: calc(100% - 165px);
    background-color: #12151c;
    height: calc(100vh - 160px);
    overflow-y: auto;

}
.main{
    width: 100%;

}

footer {
    width: 100%;
    height: 70px;
    background-color: #212121;
}
.container{
    margin: 0 auto;
    width: 80%;
}
.container-95{
    margin: 0 auto;
    width: 98%;
}

.content {
    display: flex;
}

.slidebar {
    width: 165px;
    
    border: 1px solid black;
    height: calc(100vh - 70px);
    background-color: black;
    flex-shrink: 0;
    color: white;
    overflow-y: auto;
    font-size: 0.6rem;
}
.logo{
    width: 100px;
    margin-top: 10px;
}

.menu-list{
    padding-top: 20px;
    padding-bottom: 30px;
}
.home{
    display: flex;
    align-items: center;
    gap: 5px;
    color: gray;
}
.container-img{
    position: relative;

}
.container-img i{
    display: none;

}
/* HOVER */
.playlist li:hover{
    color:white
}
.home a:hover{
    color: white;
}
.list-menu a:hover{
    color:white

}
.col img:hover{
    opacity: 0.2;

}
.container-img i:hover{
    display: block;
    position: absolute;
    /* position: relative; */
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
/* IMAGE */

.home img{
    width: 20px;
    
}
.img-dowload{
    width: 10px;
}
.profile-img{
    width: 20px;
    background-color: gray;
    border-radius: 50%;
}
/* BUTTON */
.button-plus{
    font-size: 1rem;
    border: none;
    padding: 4px;
    background-color: grey;
    color: #060910;
    margin-right: 5px;
}
.header-button{
    display: inline-block;
    border: 2px solid white;
    padding: 8px 40px;
    border-radius: 30px;
}
.installa-app{
    color: gray;
    font-size: 0.6rem;
    margin-left: 5px;

}

/* SELETTORI */
.img-dowload, .installa-app{
    padding-bottom: 5px;
}
.header-button a{
    color: white;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.playlist h3{
    padding-bottom: 10px;
}
.playlist li{
    padding-bottom: 20px;
    color: gray;
}
.menu-list a{
    color: gray;
}
.list-menu a{
    color: gray;
    text-transform: uppercase;
    font-size: 0.7rem;
    
}
.content-img{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 30px;
}
.col{
    width: calc((100% / 6) - 10px );
    
    min-height: 100px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
   
    /* DEBUG */
    /* border: 1px solid white; */

    
}
.col img{
    margin-bottom: 15px;
    
}
.col p{
    padding-top: 15px;
    color: gray;
}

/* .img-content{
    position: relative;
} */
.renctly{
    margin-top: 50px;
    color: white;
}
.createfor{
    margin-top: 50px;
    color: white;
}
.createfor p{
    padding-top: 10px;
    font-size: 0.8rem;
    color: gray;
}
.mostpopular{
    margin-top: 50px;
    color: white;
}
.mostpopular p{
    padding-top: 10px;
    font-size: 0.8rem;
    color: gray;
}
.mostpopular img{
    border-radius: 50%;
}
.sinister{
    width: 25%;
    
}
.player{
    width: 50%;
    
}
.volume{
    width: 25%;
    
}
.footer-ima{
    width: 45px;
    height: auto;
}
.playerbar{
    width: 70%;
    height: 5px;
    background-color: gray;
    border-radius: 25px;

}
.playerbar2{
    width: 150px;
    height: 5px;
    background-color: gray;
    border-radius: 25px;

}

/* UTILITIES */
.f-direction-column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.jc-content-between{
    justify-content: space-between;

}
.jc-content-end{
    justify-content: flex-end;

}
.jc-content-center{
    justify-content: center;
}
.margin-bottom{
    border-bottom: 2px solid gray;
}
.aitems-center{
    align-items: center;
}
.gap-5{
    gap: 5px;
}
.gap-10{
    gap: 10px;
}
.gap-20{
    gap: 20px;
}
.gap-30{
    gap: 30px;
}
.padding-top-10{
    padding-top: 10px;

}
.padding-top-20{
    padding-top: 20px;
}
.padding-bottom-10{
    padding-bottom: 10px;
}
.white{
    color: white;
}
.grey{
    color: grey;
}
.font-size-1-2{
    font-size: 1.8rem;
}
.font-size-0-6{
    font-size: 0.6rem;
}
.min-h{
    min-height: 70px;
}
